.container {
	display: flex;
	background: #59AFFF;
	height: 50px;
	width: 978px;
	margin: auto;
	overflow: hidden;
	font-size: 12px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
}
.box {
	padding: 10px;
	text-align: center;
	width: 75px;
	color: white;
}
.box.one {
	flex: 1 0 auto;
	text-align: left;
	padding-left: 259px;
	padding-right:  566px;
}
.box:last-child {
	padding-right: 260px;
}
.top {
	margin-top: 0px;
}
