.content {
	margin: 0 auto;
	max-width: 600px;
	border: 3px dashed orange;
	padding: 10px;
}

.menu {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.menu .item {
	border: 1px solid steelblue;
	padding: 10px;
}

.menu .item {
	margin-right: 10px;
}

.menu .item:last-child {
	margin-right: 0;
}


@media screen and (min-width: 400px) {
	.on-mobile {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.on-desktop {
		display: none;
	}

	.menu {
		flex-direction: column;
	}

	.menu .item {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.menu .item:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
