body {
	margin: 0;
	font-family: Arial;
}

.header-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

	height: 50px;
	background: linear-gradient(180deg, #59AFFF 0%, #2895F9 100%);
	margin: 0 20px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 2px 5px rgba(0,0,0, 0.25);
}

.narrowed-area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;

	flex: 0 1 970px;
}

.header-holder .right {
	display: flex;
}


.right .link {
	margin-right: 20px;
}

.right .link:last-child {
	margin-right: 0;
}
