body {
	background: #FEECB1;
	font-family: arial;
}

.examples {
	border: 2px dashed navy;
	padding: 10px;
}

.examples > div .caption {
	display: block;
	font-size: 28px;
	margin-bottom: 10px;
}

.example-1 .content .item {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px dashed red;
	max-width: 600px;
}

.example-1 .content .item div {
	padding: 10px;
	border: 2px dashed blue;
	text-transform: uppercase;
}

.example-1 .content .item .img {
	margin-right: 10px;
}


.example-1 .content .item .text {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.example-2 .menu {
	display: none;
}

.example-2 .label:hover + .menu {
	display: block;
}

[class$="menu"] {
	border: 5px solid black;
}

.example-4 .block {
	border: 10px solid blue;
	padding: 20px;
	width: 500px;
	box-sizing: border-box;
}

.example-5 {
	display: flex;
	flex-direction: row;
}

.example-5 .card {
	border: 5px solid black;
	height: 300px;
	width: 150px;

	position: relative;
}

.first {
	background: red;
}

.second {
	left: -50px;
	background: orange;

	/*z-index: 100;*/
}

.third {
	left: -150px;
	background: purple;
}

.card:hover {
	z-index: 5;
}

.example-6 {
	margin-top: 40px;
}

.example-6 .box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	border: 5px solid red;
	width: 200px;
	height: 200px;

	overflow: hidden;
	transition: all 1s;
}

.example-6 .box img {
	transition: all 1s;
}

.example-6 .box:hover img {
	/*transform: rotateZ(-180deg);*/
	opacity: 0;
}

.example-6 .box:hover {
	transform: rotateZ(180deg);
}

